@import './colors';
@import './functions';

@include respond-between(120px, 530px) {
    .mine {
        padding-top: 0px;
        h1{
            text-align: center;
            display:block !important;
            color: white;
            margin-bottom: 20px;
        }

        float: none;
        max-width: 100%;
        max-height: 100dvh;
        margin-left: 0px;
    }

    .myExperience {
        max-height: 100dvh;

        .text {
            max-width: 100%;
        }
    }

    header {
        display: none !important;
    }
}

@include respond-between(531px, 768px) {

    .mine {
        margin-left: 0px;
        float: left;
    }

    .myExperience .text {
        scrollbar-width: auto;
        max-width: 100%;
    }
}