@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import './functions', './colors';
@import './sidebar', './myExperience';
@import './footer';
@import './mediaqueries';



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    h1{
        font-size: 52px;
    }

    font-family: "Open Sans", sans-serif;
    background-color: $cian;
}

header {
    @include createDisplayFlex(row, wrap);
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border: solid 1px $yellow;
    padding: 20px;

    h1 {
        color: $blackout;
    }
}